---
title: Home
---

{%- assign vars = site.data.vars -%}
{%- assign i18n = site.data.i18n -%}

{%- if page.lang != site.lang -%}
  {%- assign go_i18n = true -%}
{%- endif -%}

<section id="intro" class="about-author">
  <div class="author-intro">
    <img src="{{ vars.author.avatar_url }}" alt="Author avatar" class="author-avatar">

    <div class="author-description">
      {%- assign about_page = vars.navbar.links | where: "label", "About" | first -%}
      {%- assign about_page_label = about_page.label -%}
      {%- assign about_page_url = about_page.url -%}

      {% if go_i18n %}
        {% assign about_page_label = i18n.tr[page.lang]["About"] %}
      {% endif %}

      {%- assign author_connect_on = vars.author.links.first -%}

      <h2 class="site-title">
        {{ i18n.tr[page.lang].site_welcome }}

        <ul class="author-connect-links">
          <li class="author-connect-link-item">
            <a href="{{ author_connect_on.url }}" class="raw-link no-symbol rounded-md author-connect-link">{{ i18n.tr[page.lang].author_connect_on }} {% if author_connect_on.icon %}<i class="{{ author_connect_on.icon }}"></i>{% else %}{{ author_connect_on.label }}{% endif %}</a>
          </li>
        </ul>
      </h2>

      {%- if go_i18n -%}
        <p>{{ i18n.tr[page.lang].site_intro }}</p>
      {%- else -%}
        <p>{{ vars.author.description }}</p>
      {%- endif -%}

      <br>

      <p>{{ i18n.tr[page.lang].author_read_more }} <a href="{{ author_page_url }}" class="raw-link">{{ about_page_label | downcase }}</a>.</p>
    </div>
  </div>
</section>


{%- assign member_page = vars.navbar.links | where: "label", "Members" | first -%}
{%- assign member_page_url = member_page.url -%}

{% if go_i18n %}
  {% assign member_page_url = member_page.i18n[page.lang].url %}
{% endif %}


<section id="posts">
  <h4 class="title-with-lines"><span>{{ i18n.tr[page.lang].latest_posts | default: "???" }}</span></h4>

  <ul class="posts-list">
    {%- assign posts = paginator.posts -%}
    {%- assign tags_page = "/tags/" -%}
    {%- assign count = 20 | minus: posts.size -%}

    {%- if go_i18n -%}
      {%- assign tags_page = "/" | append: page.lang | append: tags_page -%}
    {%- endif -%}


    {%- unless posts %}
      {%- assign posts = site.posts | where: "lang", page.lang | limit: 20 -%}
    {%- endunless -%}

    {% for post in posts limit: 20 %}
     {% assign author = site.members | where: "nickname", post.author_nickname | first  %}
     {% assign author_url = author.url %}
     {% assign author_name = author.name %}
     {% assign author_nickname = author.nickname %}
     {% assign author_avatar = author.avatar %}

     {% if post.collabs.size > 0 %}
      {% assign author_nickname = post.author %}
     {% endif %}

     {% unless author %}
       {% assign author_url = "" %}
       {% assign author_avatar = "/assets/img/avatar.png" %}
       {% assign author_name = post.author %}
       {% assign author_nickname = post.author_nickname %}
     {% endunless %}

      <li class="post-item {% if post.tags contains 'announcement' %}announcement{% endif %}" onclick="openUrl('{{ post.url }}')">


        <ul class="post-tags">
          {% for tag in post.tags %}
            <li class="post-tag-item rounded-sm">
              <a href="{{ tags_page | append: '#' | append: tag | relative_url }}" class="raw-link post-tag-link">#{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>

        <img src="{{ '/assets/img/banners/' | append: post.banner | relative_url }}" alt="Post banner" class="post-banner">

        <div class="post-info">
          <h3 class="post-title">
            <a href="{{ post.url }}" class="raw-link post-title-link">{{ post.title }}</a>

          </h3>

          <p class="post-description">{{ post.description }}</p>
        </div>

        <div class="post-info-footer">
          <span class="post-date"><img src="{{ author_avatar }}" alt="" class="author-avatar"><a href="{{ author_url }}" class="raw-link author-nick-url">{{ author_nickname  }}</a> / {{ post.date | date_to_string }}</span>
          <a href="{{ post.url }}" class="raw-link post-link rounded-lg">{{ i18n.tr[page.lang].read_more | default: "???" }}</a>
        </div>
      </li>
    {% endfor %}

    {% for _ in (0..count) %}
      <li class="no-post-item"><!-- No post item --></li>
    {% endfor %}
  </ul>

  <div class="posts-buttons">
    {%- assign blog_page = vars.navbar.links | where: "label", "Blog" | first -%}
    {%- assign blog_url = blog_page.url -%}

    {%- if go_i18n -%}
      {%- assign blog_url = '/' | append: page.lang | append: blog_url -%}
    {%- endif -%}

    {%- if page.lang == site.lang -%}
      {%- if paginator.previous_page -%}
        <a href="{{ paginator.previous_page_path }}" class="raw-link rounded-lg"><i class="fa-solid fa-angle-left"></i></a>
      {%- else -%}
        <span class="rounded-lg"><i class="fa-solid fa-angle-left"></i></span>
      {%- endif -%}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="raw-link rounded-lg"><i class="fa-solid fa-angle-right"></i></a>
      {% else %}
        <span class="rounded-lg"><i class="fa-solid fa-angle-right"></i></span>
      {% endif %}
    {% endif %}

    <a href="{{ blog_url }}" class="raw-link rounded-lg">{{ i18n.tr[page.lang].all_posts | default: '???' }} <i class="fa-solid fa-arrow-right"></i></a>
  </div>
</section>