---
layout: page
title: Snippets
---

{%- assign vars = site.data.vars -%}
{%- assign i18n = site.data.i18n -%}

{%- if page.lang != site.lang -%}
  {%- assign go_i18n = true -%}
{%- endif -%}


<section>
  <input type="text" name="search-snippets" id="searchSnippet" placeholder="Search for snippets">

  <ul class="snippets-list" id="snippetsList">
    {% for snippet in site.snippets %}

    {% assign author = site.members | where: "nickname", snippet.author_nickname | first  %}

    {% assign author_url = author.url %}
    {% assign author_name = author.name %}
    {% assign author_nickname = author.nickname %}
    {% assign author_avatar = author.avatar %}

    {% unless author %}
      {% assign author_url = snippet.author_url %}
      {% assign author_avatar = "/assets/img/avatar.png" %}
      {% assign author_name = snippet.author %}
      {% assign author_nickname = snippet.author_nickname %}
    {% endunless %}


    <li class="snippet-item">
      <div class="snippet-info">
        <h3 class="snippet-title"><i class="fa-solid fa-angle-right"></i> {{ snippet.title }}</h3>
        <a href="{{ author_url }}" class="raw-link snippet-author-link rounded-md">@{{ author_nickname }}</a>
      </div>
      <p class="snippet-description">{{ snippet.description }}</p>
      <br>
      <code class="snippet-code">{{ snippet.code | newline_to_br | truncatewords: 20 }}</code>

      <ul class="snippet-tags">
        {% for tag in snippet.tags %}
        <li class="snippet-tag-item rounded-sm"><a href="" class="raw-link snippet-tag-link">#{{ tag }}</a></li>
        {% endfor %}
      </ul>
      <br>

      <a href="{{ snippet.url }}" class="raw-link rounded-lg snippet-read-more">{{ i18n.tr[page.lang].read_more | default: "???" }}</a>

      <a href="{{ snippet.url }}" class="raw-link rounded-lg snippet-copy">{{ i18n.tr[page.lang].copy_code | default: "???" }}</a>
    </li>
    {% endfor %}
  </ul>
</section>