<html>
    <head>
        <title>Domain Seized</title>
        <style>
        	body{
        		background-color: #ffffff;
        	}
            	img {
                	margin-right: auto;
			margin-left: auto;
			display:block; 
            	} 
        </style>
    </head>
    <body>
        <img src="https://cdn.discordapp.com/attachments/976199893179842574/1224092429536460994/seized.png?ex=661c3be9&is=6609c6e9&hm=187690298a0fb3b9d1556b4b06536bc229273d19baef77ba28ad5cf59b247128&">
    </body>
</html>
