<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/main.css" | relative_url }}">
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src 'self'; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self'; form-action 'none'; base-uri 'self'">
    <meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
    <meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ page.banner_path }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image:src" content="{{ site.url }}{{ page.banner_path}}">
    <meta name="twitter:creator" content="@{{ page.author }}">
    <meta name="twitter:site" content="{{ site.url }}">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:cta" content="NDRWRLDCMPTNG">

    <meta name="description" content="{{ page.description }}">
  </head>
  <body>
    <div class="container">
      <header>{%- include header.html -%}</header>
      <main>
        {{ content }}
      </main>
      <footer>{{ site.footer }}</footer>
    </div>
  </body>
</html>
