---
layout: default
---

{%- assign vars = site.data.vars -%}
{%- assign i18n = site.data.i18n -%}

{%- if page.lang != site.lang -%}
  {%- assign go_i18n = true -%}
{%- endif -%}

<div class="post-block">
  <section class="overview">
    <div class="post-info">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-description">{{ page.description }}</p>

      <div class="post-info-meta">
        <span class="post-date rounded-sm">{{ page.date | date_to_string }}</span>

        <ul class="post-tags">
          {%- assign tags_page = "/tags/" -%}

          {%- if go_i18n -%}
            {%- assign tags_page = "/" | append: page.lang | append: tags_page -%}
          {%- endif -%}

          {% for tag in page.tags limit: 5 %}
            <li class="post-tag-item rounded-sm">
              <a href="{{ tags_page | append: '#' | append: tag | relative_url }}" class="raw-link post-tag-link">#{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>

        <a href="https://hits.seeyoufarm.com" class="raw-link click-counter"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ page.url }}&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/></a>

      </div>
    </div>
  </section>

  <section class="post-content">
    {{ content }}
  </section>
</div>
<br>
<br>
<br>

{% if site.posts.size > 4 %}
  <h3 class="title-with-lines"><span>{{ i18n.tr[page.lang].keep_reading | default: "???" }}</span></h3>

  <div class="post-explore">
    {% assign posts = site.posts | sample: 2 %}


    {% for post in posts %}
      <div class="post-example" onclick="redirectTo('{{ post.url }}')">
        <h3><a href="{{ post.url }}" class="raw-link post-link">{{ post.title }}</a></h3>
        <p class="post-description">{{ post.description | truncatewords: 28, "..." }}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}
